.vscode
node_modules
*.log
.DS_Store
coverage
dist
tmp
/drivers
/test.*
__*
.vercel
.netlify
test/fs-storage/**
.env
.wrangler
.cache
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.nuxt
dist
.db/
*.sqlite
*.db
!__snapshots__